main, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name-div, #email-div, #number-div, #dropdown-div, #comments-div {
    display: flex;
    flex-direction: column;
}