body {
    background-color:#1A1A1D;
    color:white;
    margin: 0;
    min-width: 300px;
    font-family: 'Roboto', sans-serif;
}

main, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #6F2232;
    color: #E0E0FB;
    padding: 15px 0;
}

footer a {
    color: #E0E0FB
}

footer a:hover {
    font-weight: bold;
}

#title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    color: #950740;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
}

#description {
    color:  #E0E0FB;
    margin-bottom: 50px;
    text-align: center;
}

#survey-div {
    width: 100%;
}

#survey-form {
    background-color:#4E4E50;
    padding: 15px;
}

#name-div, #email-div, #number-div, #dropdown-div, #comments-div, #btn-div {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

#name-label, #email-label, #number-label, #dropdown-label, #comments-label {
    margin-bottom: 7px;
}

#submit {
    background-color:#1A1A1D;
    border: 1px solid #950740;
    color: #E0E0FB;
    font-size: 16px;
    margin: 30px 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

#submit:hover {
    background-color:#c3073F;
    color: white;
}

@media only screen and (min-width: 480px) {
    #survey-form {
        padding: 15px 35px;
    }
}

@media only screen and (min-width: 576px) {
    #survey-div {
        width: 576px;
    }
}